@media screen and (min-width:768px){
.container{
    height:100vh;
    width:100vw;
    margin:0px;
    padding:0px;
}
.row{
    height:100%;
    padding:0px;
    margin:0;
}
ul{
    list-style: none;
}
li{
    text-decoration: none;
}
#list ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}
#list li{
    display: block;
    height:50px;
    text-align: center;
    margin: 0 auto;
    width:100%;
}

.dropbtn{
    cursor: pointer;
    z-index: 0;
}
#list{
    max-height: 100%;
    overflow: auto;
    height:100%;
}
#proj{
    z-index: -1;
    text-decoration: none;
}
.dropdown{
    position: relative;
    margin: 0 auto;
    z-index: 0;
}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:#fff;
    max-height: 180px;
    overflow: auto;
}
/*.dropdown-content:hover{*/
/*    background-color: #fafafa;*/
/*}*/
.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.dropdown-content a:hover{
    background-color: #fafafa;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.img{
    width:100%;
}
.imgContent{
    height:100vh;
    padding:0px;
    max-width: 100%;
    overflow-x: scroll;
}
#list li a{
    text-decoration: none;
    color: #000;
}
#bootstrap-overrides{
    
}
#about-container{
    padding-left: 20px;
}
label {
    display: block;
    /*text-align: center;*/
}
.form-container{
    margin: 20%
}
label.field{
    display: block;
    text-align: right;
    width: 100px;
    float: left;
    clear:both;
}
input{
    width: 200px;
    border-radius: 5px;
    padding: 6px 8px;

}
.msgInput{
    height:200px;
    width:200px;
    padding: 6px 8px;
    border-radius: 5px;
}
.btnsubmit{
    margin-left: 100px
}
#imgCont{
    max-height: 100vh;
    margin-top: 15%;
}
#imgCont img{
    max-height: 100%;
    max-width: 100%;
    /*margin: auto 0px;*/
    margin-bottom:2%;
}
.cvCont{
    max-height: 100vh;
    overflow: auto;
}
.inlBlock{
    /*display: inline-block;*/
    height: 100vh;
    white-space: nowrap;
}
.inlBlock li{
    display: inline-block;
    height:100vh;
}
.inlBlock li img{
    height:100vh;
}
#scrollbar2{
    overflow-x: scroll;
    overflow-y: hidden;
}
#scrollbar2 ul{
    padding:0px;
}
}


@media screen and (max-width:767px){
.container{
    /*height:100vh;*/
    width:100vw;
    margin:0px;
    padding:0px;
}
.row{
    height:100%;
    padding:0px;
    margin:0;
}
ul{
    list-style: none;
}
li{
    text-decoration: none;
}
#list ul{
    list-style: none;
    margin: 0px;
    padding:0px;
    width:100vw;
    /*overflow-y: scroll;*/
    overflow-x:hidden;
    height:470px;
}
#list li{
    display: block;
    height:50px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    width:auto;
}

.dropbtn{
    cursor: pointer;
    z-index: 0;
}
#list{
    max-height: 100%;
    overflow: hidden;
    height:100%;
    padding:0px;
}
#proj{
    z-index: -1;
    text-decoration: none;
}
.dropdown{
    position: relative;
    margin: 0 auto;
    z-index: 0;
}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:#fff;
    max-height: 180px;
    overflow: auto;
}
/*.dropdown-content:hover{*/
/*    background-color: #fafafa;*/
/*}*/
.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    background-color: #fff;
}
.dropdown-content a:hover{
    background-color: #fafafa;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.img{
    width:100%;
}
.imgContent{
    /*height:100vh;*/
    padding:0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
#list li a{
    text-decoration: none;
    color: #000;
}
#bootstrap-overrides{
    
}
#about-container{
    padding-left: 20px;
}
label {
    display: block;
    /*text-align: center;*/
}
.form-container{
    margin: 20%
}
label.field{
    display: block;
    text-align: right;
    width: 100px;
    float: left;
    clear:both;
}
input{
    width: 200px;
    border-radius: 5px;
    padding: 6px 8px;

}
.msgInput{
    height:200px;
    width:200px;
    padding: 6px 8px;
    border-radius: 5px;
}
.btnsubmit{
    margin-left: 100px
}

.cvCont{
    max-height: 100vh;
    overflow: auto;
}
.inlBlock{
    /*display: inline-block;*/
    width: 100vw;
    /*white-space: nowrap;*/
}
.inlBlock li{
    display: block;
    height:auto;
}
.inlBlock li img{
    height: auto;
    width:100vw;
}
#scrollbar2 ul{
    padding:0;
}

}